@import url("https://fonts.googleapis.com/css2?family=Work+Sans&family=Roboto&gamily=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  background: #111;
  overflow-x: hidden;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

.navigation {
  width: 100%;
  position: absolute;
  z-index: 2;
  padding: 1rem 0;
}

@media only screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

.navigation_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2rem;
  -ms-flex-preferred-size: 15rem;
      flex-basis: 15rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation_img img {
  height: 4rem;
}

.navigation_img h2 {
  text-transform: uppercase;
  margin-left: 2rem;
  font-size: 2rem;
  color: whitesmoke;
  font-family: 'Roboto';
}

.navigation_links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navigation_links li {
  margin-right: 3rem;
  -webkit-transition: ease 0.35s all;
  transition: ease 0.35s all;
  font-size: 1.3rem;
}

.navigation_links li a {
  color: whitesmoke;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  display: block;
}

.navigation_links li a span {
  display: block;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation_links li a::after {
  content: attr(data-link-alt);
  color: crimson;
  display: inline;
  position: absolute;
  -webkit-transition: top 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  top: 100%;
  left: 0;
  right: 0;
  text-align: center;
}

.navigation_links li a:hover span {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.navigation_links li a:hover::after {
  top: 0;
}

.mobile_navigation {
  display: none;
}

@media only screen and (max-width: 767px) {
  .mobile_navigation {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
  .mobile_navigation-menu {
    -webkit-transition: 500ms;
    transition: 500ms;
    cursor: pointer;
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    position: relative;
    top: 4rem;
    left: 4rem;
    -webkit-box-shadow: 0 0 8px 2px #111;
            box-shadow: 0 0 8px 2px #111;
    background: #333;
    opacity: 0.9;
  }
  .mobile_navigation-menu .line {
    width: 2.2rem;
    height: 4px;
    border-radius: 1rem;
    background: whitesmoke;
    position: absolute;
    left: 33%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .mobile_navigation-menu .line1 {
    top: 25%;
  }
  .mobile_navigation-menu .line2 {
    top: 33%;
  }
  .mobile_navigation-menu .line3 {
    top: 42%;
  }
  .mobile_navigation-content {
    -webkit-transition: 500ms;
    transition: 500ms;
    position: absolute;
    bottom: -40vh;
    right: 0;
    width: 100vw;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    -webkit-box-shadow: 0 0 20px 4px #111;
            box-shadow: 0 0 20px 4px #111;
    background: #222;
  }
  .mobile_navigation-content .close {
    font-size: 2rem;
    font-weight: bolder;
    color: #555;
    -webkit-transition: 100ms ease-in;
    transition: 100ms ease-in;
  }
  .mobile_navigation-content .close:hover {
    color: #777;
    cursor: pointer;
  }
  .mobile_navigation-flex {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1.3rem auto 0.7rem auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mobile_navigation-head {
    color: whitesmoke;
    margin-left: 1rem;
  }
  .mobile_navigation-links {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 1rem 0;
  }
  .mobile_navigation-links a {
    color: whitesmoke;
    text-decoration: none;
    padding: 1rem;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    margin: 0.5rem;
    border: 1px solid crimson;
    -webkit-transition: 200ms;
    transition: 200ms;
    border-radius: 2rem;
    color: crimson;
  }
  .mobile_navigation-links a:hover {
    border-color: transparent;
    color: whitesmoke;
  }
  .mobile_navigation-links a li {
    text-align: center;
  }
  .mobile_navigation-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    margin: 1.5rem auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile_navigation-contact span {
    padding: 0.3rem 0.5rem;
    border-radius: .6rem;
    margin: 0.3rem;
  }
}

.hide {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.reveal {
  bottom: 0;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

#telephone {
  background: rgba(30, 144, 255, 0.2);
  color: DodgerBlue;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#mail {
  background: rgba(220, 20, 60, 0.2);
}

#mail a {
  text-decoration: none;
  color: crimson;
}

.menu {
  overflow: hidden;
  cursor: -webkit-grab;
  cursor: grab;
  width: 100vw;
  position: relative;
  z-index: 1;
  height: 100vh;
}

.menu.is-dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.menu--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  width: 100vw;
}

.menu--item {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.menu--item img {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.menu--content {
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: crimson;
  font-family: 'Roboto';
}

.menu--content h2 {
  font-size: calc(1em + 10vw);
  line-height: 1.1em;
  text-transform: uppercase;
  font-weight: bolder;
}

.menu--content h2 span {
  font-size: calc(0.7em + 9vw);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: crimson;
  -webkit-text-fill-color: transparent;
}

.menu--content p {
  font-weight: bolder;
  text-transform: uppercase;
  word-spacing: 0.5rem;
  letter-spacing: 4px;
  font-size: calc(0.8rem + 0.4vw);
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  width: 95%;
  margin: 2rem auto 4rem auto;
  color: whitesmoke;
  font-size: calc(0.65em + .2vw);
}

@media only screen and (max-width: 1170px) {
  .pagination {
    margin-top: 1rem;
  }
}

.pagination span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0.35rem;
  color: whitesmoke;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

.pagination span:hover:not(.current) {
  cursor: pointer;
  background: whitesmoke;
  color: #222;
}

.pagination .num {
  background: #111;
  border-radius: 50%;
  padding: calc(0.3em + .2vw) calc(0.7em + .2vw);
}

.pagination .current {
  background: crimson;
}

.pagination .btn {
  background: #444;
  padding: calc(0.4em + .2vw);
  border-radius: 0.4rem;
}

.show {
  font-size: 0.7rem;
  margin: .5rem .5rem 0;
  color: #666;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container {
  width: 75%;
  margin: 2rem auto;
}

@media only screen and (max-width: 1170px) {
  .container {
    width: 70%;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 80%;
  }
}

.container .intro {
  margin: calc(3.5em + 5vw) 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 1170px) {
  .container .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container .intro-image {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 1.5rem;
  width: calc(10em + 30vw);
}

@media only screen and (max-width: 1170px) {
  .container .intro-image {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.container .intro-image img {
  width: 100%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.container .intro-image img:hover {
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.container .intro-content {
  margin: 0 1.5rem;
  width: 100%;
  color: whitesmoke;
  font-family: "Work Sans";
}

.container .intro-content__head {
  position: relative;
  color: crimson;
  text-transform: uppercase;
  font-size: 2rem;
  margin-left: 5.5rem;
}

.container .intro-content__head::after {
  display: block;
  position: absolute;
  content: '';
  top: 1.2rem;
  left: -5.5rem;
  height: 1px;
  width: calc(2em + .8vw);
  background: crimson;
}

.container .intro-content__subhead {
  margin: 1rem 0;
  font-size: calc(1.6em + .5vw);
}

section .icons {
  width: 80%;
  margin: 0 auto;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .icons-head {
  color: crimson;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
}

section .icons-figure {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section .icons-figure .card {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0.5rem;
  padding: 1.5rem;
  width: 16rem;
  text-align: center;
  border-radius: 1rem;
  -webkit-transition: background .3s, -webkit-transform .3s;
  transition: background .3s, -webkit-transform .3s;
  transition: background .3s, transform .3s;
  transition: background .3s, transform .3s, -webkit-transform .3s;
}

section .icons-figure .card:hover {
  -webkit-transform: translateY(-0.8rem);
          transform: translateY(-0.8rem);
  background: whitesmoke;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}

section .icons-figure .card:hover figure {
  background: crimson;
  -webkit-box-shadow: 0 0 5px #333;
          box-shadow: 0 0 5px #333;
}

section .icons-figure .card:hover h2 {
  color: #111;
}

section .icons-figure .card:hover p {
  color: #333;
}

section .icons-figure .card figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  background: whitesmoke;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

section .icons-figure .card figure img {
  height: 3rem;
  -o-object-fit: contain;
     object-fit: contain;
}

section .icons-figure .card h2 {
  color: whitesmoke;
  margin: 1rem 0;
}

section .icons-figure .card p {
  color: gray;
}

.gallery-head {
  text-transform: uppercase;
  color: crimson;
  text-align: center;
  margin: 4rem 0;
  font-size: 2rem;
}

.trainers {
  width: 75%;
  margin: 2rem auto;
  color: whitesmoke;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-card {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #222;
}

.flex-card img {
  height: 18rem;
  width: 16rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-bottom: .5rem;
}

.flex-card p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.flex-card__social a i {
  color: crimson;
  margin: 0.6rem;
  text-decoration: none;
}

#gallery {
  width: 75%;
  margin: 2rem auto;
}

@media only screen and (max-width: 992px) {
  #gallery {
    width: 100%;
    margin: 0;
  }
}

.hero-img {
  height: 50vh;
  position: relative;
  width: 100vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hero-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
  border-bottom-left-radius: calc(1em + 7vw);
  border-bottom-right-radius: calc(1em + 7vw);
}

.hero-img h1 {
  font-family: 'Roboto';
  text-transform: uppercase;
  font-size: calc(2em + 5vw);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: whitesmoke;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: 7%;
  left: 7%;
}

.contact {
  width: 80%;
  margin: 6rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1170px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  .contact {
    width: 100%;
  }
}

.contact h1 {
  color: whitesmoke;
  text-align: center;
  font-weight: lighter;
  margin-bottom: 1rem;
}

.contact aside {
  width: 45%;
  height: calc(21em + 10vw);
  margin: 1rem;
}

@media only screen and (max-width: 1170px) {
  .contact aside {
    width: 100%;
    margin: 0;
  }
}

.contact .contact-form {
  width: 45%;
  margin: 1rem auto;
}

@media only screen and (max-width: 1170px) {
  .contact .contact-form {
    margin-top: 3rem;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .contact .contact-form {
    width: 85%;
  }
}

.contact .contact-form .form_control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  font-family: 'Open Sans';
}

.contact .contact-form .form_control label {
  color: gray;
  margin: 0.5rem 0;
}

.contact .contact-form .form_control input, .contact .contact-form .form_control textarea {
  width: 100%;
  background: #2f2f2f;
  border: none;
  padding: 0.6rem;
  color: whitesmoke;
  border: 1px solid #2f2f2f;
  font-size: 0.9rem;
  margin-bottom: 0.7rem;
}

.contact .contact-form .form_control input::-webkit-input-placeholder, .contact .contact-form .form_control textarea::-webkit-input-placeholder {
  color: gray;
}

.contact .contact-form .form_control input:-ms-input-placeholder, .contact .contact-form .form_control textarea:-ms-input-placeholder {
  color: gray;
}

.contact .contact-form .form_control input::-ms-input-placeholder, .contact .contact-form .form_control textarea::-ms-input-placeholder {
  color: gray;
}

.contact .contact-form .form_control input::placeholder, .contact .contact-form .form_control textarea::placeholder {
  color: gray;
}

.contact .contact-form .form_control input:focus, .contact .contact-form .form_control textarea:focus {
  border-bottom-color: crimson;
}

.contact .contact-form .form_control input[type=date] {
  font-family: "Arial";
}

.contact .contact-form .form_control i {
  bottom: 22px;
  right: 10px;
  position: absolute;
  color: gray;
}

.contact .contact-form .form_control textarea {
  resize: none;
  font-family: 'Work Sans';
}

.contact .contact-form .login_btn {
  background: transparent;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  width: 50%;
  padding: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Work Sans';
  margin-top: 1rem;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

@media only screen and (max-width: 575px) {
  .contact .contact-form .login_btn {
    width: 100%;
  }
}

.contact .contact-form .login_btn:hover {
  background: whitesmoke;
  color: #222;
}

.login-form {
  width: 30rem;
  margin: 1rem auto;
}

@media only screen and (max-width: 575px) {
  .login-form {
    width: 85%;
  }
}

.login-form .form_control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  font-family: 'Open Sans';
}

.login-form .form_control label {
  color: gray;
  margin: 0.5rem 0;
}

.login-form .form_control input, .login-form .form_control textarea {
  width: 100%;
  background: #2f2f2f;
  border: none;
  padding: 0.6rem;
  color: whitesmoke;
  border: 1px solid #2f2f2f;
  font-size: 0.9rem;
  margin-bottom: 0.7rem;
}

.login-form .form_control input::-webkit-input-placeholder, .login-form .form_control textarea::-webkit-input-placeholder {
  color: gray;
}

.login-form .form_control input:-ms-input-placeholder, .login-form .form_control textarea:-ms-input-placeholder {
  color: gray;
}

.login-form .form_control input::-ms-input-placeholder, .login-form .form_control textarea::-ms-input-placeholder {
  color: gray;
}

.login-form .form_control input::placeholder, .login-form .form_control textarea::placeholder {
  color: gray;
}

.login-form .form_control input:focus, .login-form .form_control textarea:focus {
  border-bottom-color: crimson;
}

.login-form .form_control input[type=date] {
  font-family: "Arial";
}

.login-form .form_control i {
  bottom: 22px;
  right: 10px;
  position: absolute;
  color: gray;
}

.login-form .form_control textarea {
  resize: none;
  font-family: 'Work Sans';
}

.login-form .btn {
  margin-top: 1rem;
  background: transparent;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  width: 50%;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Work Sans';
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

@media only screen and (max-width: 575px) {
  .login-form .btn {
    width: 100%;
  }
}

.login-form .btn:hover {
  background: whitesmoke;
  color: #222;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center .error {
  background: transparent;
  border: 1px solid crimson;
  color: crimson;
  padding: 0.7rem 2rem;
  text-align: center;
  min-width: 18rem;
}

.admin {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin-nav {
  width: 12rem;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 767px) {
  .admin-nav {
    display: none;
  }
}

.admin-nav__width {
  height: 95%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.admin-nav__width ul {
  list-style-type: none;
}

.admin-nav__width ul a {
  text-decoration: none;
}

.admin-nav__width ul a li {
  color: #777;
  text-transform: uppercase;
  padding: 1rem;
  font-size: 0.9rem;
  -webkit-transition: background 400ms, color 200ms;
  transition: background 400ms, color 200ms;
}

.admin-nav__width ul a li:hover {
  background: rgba(220, 20, 60, 0.2);
  border-right: 4px solid crimson;
  color: crimson !important;
}

.admin-nav__width ul a li i {
  font-size: 0.9rem;
  margin-right: 0.4rem;
}

.admin-nav img {
  height: 5rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.admin-section {
  background: #222;
  width: 100%;
}

.admin-add {
  width: 90%;
  margin: 1rem auto;
}

.admin-add h1 {
  color: whitesmoke;
  text-align: center;
  margin-bottom: 3rem;
}

.admin-add__form {
  width: calc(15em + 15vw);
}

@media only screen and (max-width: 767px) {
  .admin-add__form {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 575px) {
  .admin-add__form {
    wdith: 100%;
  }
}

.admin-add__form .form_control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  font-family: 'Open Sans';
}

.admin-add__form .form_control label {
  color: gray;
  margin: 0.5rem 0;
}

.admin-add__form .form_control input, .admin-add__form .form_control textarea {
  width: 100%;
  background: #2f2f2f;
  border: none;
  padding: 0.6rem;
  color: whitesmoke;
  border: 1px solid #2f2f2f;
  font-size: 0.9rem;
  margin-bottom: 0.7rem;
}

.admin-add__form .form_control input::-webkit-input-placeholder, .admin-add__form .form_control textarea::-webkit-input-placeholder {
  color: gray;
}

.admin-add__form .form_control input:-ms-input-placeholder, .admin-add__form .form_control textarea:-ms-input-placeholder {
  color: gray;
}

.admin-add__form .form_control input::-ms-input-placeholder, .admin-add__form .form_control textarea::-ms-input-placeholder {
  color: gray;
}

.admin-add__form .form_control input::placeholder, .admin-add__form .form_control textarea::placeholder {
  color: gray;
}

.admin-add__form .form_control input:focus, .admin-add__form .form_control textarea:focus {
  border-bottom-color: crimson;
}

.admin-add__form .form_control input[type=date] {
  font-family: "Arial";
}

.admin-add__form .form_control i {
  bottom: 22px;
  right: 10px;
  position: absolute;
  color: gray;
}

.admin-add__form .form_control textarea {
  resize: none;
  font-family: 'Work Sans';
}

.admin-add__form .btn {
  margin-top: 1rem;
  background: transparent;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  width: 50%;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Work Sans';
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

@media only screen and (max-width: 575px) {
  .admin-add__form .btn {
    width: 100%;
  }
}

.admin-add__form .btn:hover {
  background: whitesmoke;
  color: #222;
}

.admin-section {
  background: #222;
  width: 100%;
  padding: 2rem;
}

@media only screen and (max-width: 1170px) {
  .admin-section {
    padding: .5rem;
  }
}

.admin-section .search {
  margin: 0.5rem;
  position: relative;
}

.admin-section .search input {
  background: #111;
  border: none;
  padding: 0.5rem;
  text-indent: 0.2rem;
  border-radius: 0.2rem;
  color: whitesmoke;
  font-size: .9rem;
  width: 20rem;
}

.admin-section .search input::-webkit-input-placeholder {
  color: #aaa;
}

.admin-section .search input:-ms-input-placeholder {
  color: #aaa;
}

.admin-section .search input::-ms-input-placeholder {
  color: #aaa;
}

.admin-section .search input::placeholder {
  color: #aaa;
}

.admin-section .search i {
  position: absolute;
  top: 9px;
  left: 295px;
  color: #777;
}

.admin-section h1 {
  color: whitesmoke;
  text-align: center;
  margin-bottom: 2rem;
}

.admin-members {
  overflow-y: visible;
  overflow-x: hidden;
}

.admin-members__single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #111;
  -webkit-box-shadow: 2px 2px 8px #000;
          box-shadow: 2px 2px 8px #000;
  color: whitesmoke;
  border-radius: .7rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0.7rem 0.5rem;
  padding: calc(.4em + .5vw) calc(.4em + 1.1vw);
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.admin-members__single:hover {
  border-color: #333;
  background: #333;
  color: whitesmoke;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.admin-members__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: whitesmoke;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 2px 2px 8px #000;
          box-shadow: 2px 2px 8px #000;
  color: #222;
  border-radius: .7rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: .5rem;
  padding: calc(.4em + .5vw) calc(.4em + 1.1vw);
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

@media only screen and (max-width: 1170px) {
  .admin-members__info {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
}

.admin-members__info .progress {
  width: 22.5%;
  text-align: center;
}

@media only screen and (max-width: 1170px) {
  .admin-members__info .progress {
    display: none;
  }
}

.admin-members__info .status {
  font-size: calc(0.7em + .3vw);
  margin: 0 auto;
}

.id {
  font-size: calc(0.7em + .3vw);
  width: 2rem;
}

.name {
  width: 20%;
  font-size: calc(0.7em + .3vw);
}

@media only screen and (max-width: 1170px) {
  .name {
    width: 15rem;
  }
}

.from {
  width: 12.5%;
  text-align: center;
}

@media only screen and (max-width: 1170px) {
  .from {
    display: none;
  }
}

.to {
  width: 12.5%;
  text-align: center;
}

@media only screen and (max-width: 1170px) {
  .to {
    display: none;
  }
}

.progress-bar {
  width: 22.5%;
  -webkit-box-shadow: inset 0 0 10px #000;
          box-shadow: inset 0 0 10px #000;
  -webkit-box-shadow: 0 0 6px #000;
          box-shadow: 0 0 6px #000;
  height: 1rem;
  border-radius: 1rem;
  position: relative;
}

@media only screen and (max-width: 1170px) {
  .progress-bar {
    display: none;
  }
}

.progress-bar__fill {
  height: inherit;
  border-radius: 1rem;
  background: crimson;
}

.extend {
  cursor: pointer;
  width: 22.5%;
  background: whitesmoke;
  padding: 0.3rem 0;
  border-radius: 1rem;
  text-align: center;
  color: #111;
  border: 1px solid whitesmoke;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  display: block;
}

@media only screen and (max-width: 1170px) {
  .extend {
    display: none;
  }
}

.extend span {
  display: block;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.extend::after {
  content: attr(data-link-alt);
  color: #111;
  display: inline;
  position: absolute;
  -webkit-transition: top 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  top: 100%;
  left: 0;
  right: 0;
  text-align: center;
}

.extend:hover span {
  -webkit-transform: translateY(110%);
          transform: translateY(110%);
}

.extend:hover::after {
  top: 20%;
}

.isDone {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 15%;
  font-size: calc(0.7em + .3vw);
  text-align: center;
  border-radius: 1rem;
  text-transform: uppercase;
  width: calc(6em + 3.5vw);
  margin: 0 auto;
  padding: 0.2rem;
}

.expired {
  color: crimson;
  background: rgba(220, 20, 60, 0.2);
}

.lasts {
  color: SeaGreen;
  background: rgba(46, 139, 86, 0.2);
}

.action {
  font-size: calc(0.7em + .3vw);
  width: 12.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1170px) {
  .action {
    margin-left: .5rem;
  }
}

.action button {
  height: calc(1.8em + 0.5vw);
  width: calc(1.8em + 0.5vw);
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0 0.3rem;
  border: none;
  font-size: calc(0.7em + .2vw);
  background: #333;
  -webkit-transition: background 300ms, color 200ms;
  transition: background 300ms, color 200ms;
}

.action .delete {
  color: crimson;
}

@media only screen and (max-width: 1170px) {
  .action .delete {
    display: none;
  }
}

.action .delete:hover {
  background: crimson;
  color: whitesmoke;
}

.action .edit {
  color: DodgerBlue;
}

@media only screen and (max-width: 1170px) {
  .action .edit {
    display: none;
  }
}

.action .edit:hover {
  background: DodgerBlue;
  color: whitesmoke;
}

.action .moreInfo {
  display: none;
  color: BlueViolet;
}

.action .moreInfo:hover {
  background: BlueViolet;
  color: whitesmoke;
}

@media only screen and (max-width: 1170px) {
  .action .moreInfo {
    display: block;
  }
}

.active {
  border-right: 4px solid whitesmoke;
  color: whitesmoke !important;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 767px) {
  .mobile-nav {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .mobile-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background: #161616;
  }
  .mobile-nav ul a {
    text-decoration: none;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    text-align: center;
    font-size: 0.8rem;
    -webkit-transition: 200ms ease-in;
    transition: 200ms ease-in;
  }
  .mobile-nav ul a:hover {
    background: rgba(220, 20, 60, 0.2);
  }
  .mobile-nav ul a:hover li {
    color: crimson !important;
    border-color: crimson !important;
  }
  .mobile-nav ul a li {
    -webkit-transition: 200ms ease-in;
    transition: 200ms ease-in;
    color: #777;
    border-top: 3px solid transparent;
    padding: .6rem;
  }
}

.mobile-active {
  border-color: whitesmoke !important;
  color: whitesmoke !important;
}

.open {
  display: none;
}

.open .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 45rem;
  background: rgba(17, 17, 17, 0.8);
  -webkit-backdrop-filter: blur(13px) brightness(90%);
          backdrop-filter: blur(13px) brightness(90%);
  padding: 3rem;
  color: #111;
  z-index: 10;
  -webkit-transition: 2s ease-out;
  transition: 2s ease-out;
}

.open .modal .form_control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  font-family: 'Open Sans';
}

.open .modal .form_control label {
  color: gray;
  margin: 0.5rem 0;
}

.open .modal .form_control input, .open .modal .form_control textarea {
  width: 100%;
  background: #2f2f2f;
  border: none;
  padding: 0.6rem;
  color: whitesmoke;
  border: 1px solid #2f2f2f;
  font-size: 0.9rem;
  margin-bottom: 0.7rem;
}

.open .modal .form_control input::-webkit-input-placeholder, .open .modal .form_control textarea::-webkit-input-placeholder {
  color: gray;
}

.open .modal .form_control input:-ms-input-placeholder, .open .modal .form_control textarea:-ms-input-placeholder {
  color: gray;
}

.open .modal .form_control input::-ms-input-placeholder, .open .modal .form_control textarea::-ms-input-placeholder {
  color: gray;
}

.open .modal .form_control input::placeholder, .open .modal .form_control textarea::placeholder {
  color: gray;
}

.open .modal .form_control input:focus, .open .modal .form_control textarea:focus {
  border-bottom-color: crimson;
}

.open .modal .form_control input[type=date] {
  font-family: "Arial";
}

.open .modal .form_control i {
  bottom: 22px;
  right: 10px;
  position: absolute;
  color: gray;
}

.open .modal .form_control textarea {
  resize: none;
  font-family: 'Work Sans';
}

.open .modal .btn {
  margin-top: 1rem;
  background: transparent;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  width: 50%;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Work Sans';
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

@media only screen and (max-width: 575px) {
  .open .modal .btn {
    width: 100%;
  }
}

.open .modal .btn:hover {
  background: whitesmoke;
  color: #222;
}

.open .modal h2 {
  color: whitesmoke;
  text-align: center;
}

.open .modal .close {
  color: #444;
  background: transparent;
  border: none;
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 3rem;
  cursor: pointer;
}

.open .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.6);
  z-index: 9;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: 2s ease-out;
  transition: 2s ease-out;
}

footer {
  margin-top: 8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #000;
  color: gray;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem 0;
  font-size: calc(.85em + .1vw);
}

footer .footer-work {
  min-width: 14rem;
  margin: 1.5rem;
}

footer .footer-work p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-work p span {
  color: #555;
}

footer .footer-contact {
  margin: 1rem;
}

footer .footer-contact p a {
  color: gray;
  text-decoration: none;
}

footer .footer-address {
  margin: 1rem;
}

footer .footer-social {
  margin: 1rem;
}

footer .footer-social a {
  color: whitesmoke;
  text-decoration: none;
  margin-left: 1rem;
  position: relative;
}

footer .footer-social a::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: whitesmoke;
  -webkit-transition: 300ms bottom;
  transition: 300ms bottom;
}

footer .footer-social a:hover::before {
  bottom: 45%;
}

footer .reference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem 0;
  font-size: calc(.8em + .1vw);
}

footer .reference p {
  margin: .1rem .5rem;
}

footer .reference p a {
  color: whitesmoke;
  text-decoration: none;
  position: relative;
}

footer .reference p a::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: whitesmoke;
  -webkit-transition: 300ms bottom;
  transition: 300ms bottom;
}

footer .reference p a:hover::before {
  bottom: 45%;
}

#line {
  width: 90%;
  margin: 0 auto;
  height: 1px;
  background: #222;
}

.not-found {
  height: calc(100vh - 505px);
  font-family: "Montserrat";
  text-align: center;
}

.not-found__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: whitesmoke;
  margin-top: 4rem;
}

.not-found__center p {
  margin: 1rem 0;
  font-size: calc(0.85em + 0.4vw);
}

.not-found__center p span {
  color: crimson;
}

.not-found__center a {
  font-size: 1.3rem;
  color: crimson;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  display: block;
}

.not-found__center a span {
  display: block;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.not-found__center a::after {
  content: attr(data-link-alt);
  color: whitesmoke;
  display: inline;
  position: absolute;
  -webkit-transition: top 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  top: 100%;
  left: 0;
  right: 0;
  text-align: center;
}

.not-found__center a:hover span {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.not-found__center a:hover::after {
  top: 0;
}
/*# sourceMappingURL=style.css.map */