.admin {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;

    &-nav{
        width: 12rem;
        height: 100vh;
        position: sticky;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        @include sm-screen {
            display: none;
        }
        
        &__width {
            height: 95%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & ul {
                list-style-type: none;
                & a {
                    text-decoration: none;
                    & li {
                        color: #777;
                        text-transform: uppercase;
                        padding: 1rem;
                        font-size: 0.9rem;
                        transition: background 400ms, color 200ms;
                        &:hover{
                            background: rgba(220, 20, 60, 0.2);
                            border-right: 4px solid crimson;
                            color: crimson !important;
                        }
                        & i {
                            font-size: 0.9rem;
                            margin-right: 0.4rem;
                        }
                        
                    }
                }
            }
        }

        & img {
            height: 5rem;
            object-fit: contain;
        }
    }

    &-section{
        background: #222;
        width: 100%;
    }
    &-add {
        width: 90%;
        margin: 1rem auto;
        & h1 {
            color: whitesmoke;
            text-align: center;
            margin-bottom: 3rem;
        }

        &__form {
            width: calc(15em + 15vw);
            @include sm-screen{
                margin: 0 auto;  
            }
            @include xs-screen{
                wdith: 100%; 
            }
            @include formControl;
            
            @include btn;
        }
    }

    &-section {
        background: #222;
        width: 100%;
        padding: 2rem;
        @include lg-screen{
            padding: .5rem;
        }
        & .search {
            margin: 0.5rem;
            position: relative;
            & input {
                background: #111;
                border: none;
                padding: 0.5rem;
                text-indent: 0.2rem;
                border-radius: 0.2rem;
                color: whitesmoke;
                font-size: .9rem;
                width: 20rem;
                &::placeholder {
                    color: #aaa;
                }
            }
            & i {
                position: absolute;
                top: 9px;
                left: 295px;
                color: #777;
            }
        }

        & h1 {
            color: whitesmoke;
            text-align: center;
            margin-bottom: 2rem;
        }
    }

    &-members{
        overflow-y: visible;
        overflow-x: hidden;
        &__single {
            display: flex;
            align-items: center;
            border: 1px solid #111;
            box-shadow: 2px 2px 8px #000;
            color: whitesmoke;
            border-radius: .7rem;
            user-select: none;
            margin: 0.7rem 0.5rem;
            padding: calc(.4em + .5vw) calc(.4em + 1.1vw);
            transition: all 200ms ease-in;
            &:hover {
                border-color: #333;
                background: #333;
                color: whitesmoke;
                transform: scale(1.006);
            }
        }

        &__info{
            display: flex;
            background: whitesmoke;
            justify-content: space-between;
            box-shadow: 2px 2px 8px #000;
            color: #222;
            border-radius: .7rem;
            user-select: none;
            margin: .5rem;
            padding: calc(.4em + .5vw) calc(.4em + 1.1vw);
            transition: all 200ms ease-in;
            @include lg-screen {
                justify-content: initial;
            }
            & .progress {
                width: 22.5%;
                text-align: center;
                @include lg-screen {
                    display: none;
                }
            }
            & .status {
                font-size: calc(0.7em + .3vw);
                margin: 0 auto;
            }
        }
    }
}

.extend {
    cursor: pointer;
    width: 22.5%;
    background: whitesmoke;
    padding: 0.3rem 0;
    border-radius: 1rem;
    text-align: center;
    color: #111;
    border: 1px solid whitesmoke;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    display: block;
    @include lg-screen {
        display: none;
    }
    & span {
        display: block;
        transition: transform 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    &::after{
        content: attr(data-link-alt);
        color: #111;
        display: inline;
        position: absolute;
        transition: top 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        top: 100%;
        left: 0;
        right: 0;
        text-align: center;
    }
    &:hover{
        & span {
            transform: translateY(110%);
        }
        &::after {
            top: 20%;
        }
    }
}

.expand {
    display: none;
    width: inherit;
    padding: calc(.4em + .5vw) calc(.4em + 1.1vw);
    background: #141414;
    color: whitesmoke;
    border-radius: .7rem;
    box-shadow: 2px 2px 8px #000;
    width: 95%;
    margin: 0 auto;
    font-size: calc(0.7em + .3vw);
    justify-content: space-around;
    align-items: center;
} 

.view {
    @include lg-screen {
        display: flex !important;
    }
}

.id {
    font-size: calc(0.7em + .3vw);
    width: 2rem;
}
.name {
    width: 20%;
    font-size: calc(0.7em + .3vw);
    @include lg-screen {
        width: 15rem;
    }
}
.from {
    width: 12.5%;
    text-align: center;
    @include lg-screen {
        display: none;
    }
}
.to {
    width: 12.5%;
    text-align: center;
    @include lg-screen {
        display: none;
    }
}

.progress-bar {
    width: 22.5%;
    box-shadow: inset 0 0 10px #000;
    box-shadow: 0 0 6px #000;
    height: 1rem;
    border-radius: 1rem;
    position: relative;
    @include lg-screen {
        display: none;
    }
    &__fill {
        height: inherit;
        border-radius: 1rem;
        background: crimson;
    }
}

.isDone {
    box-sizing: border-box;
    width: 15%;
    font-size: calc(0.7em + .3vw);
    text-align: center;
    border-radius: 1rem;
    text-transform: uppercase;
    width: calc(6em + 3.5vw);
    margin: 0 auto;
    padding: 0.2rem;
}

.expired{
    color: crimson;
    background: rgba(220, 20, 60, 0.2);
}

.lasts{
    color: SeaGreen;
    background: rgba(46, 139, 86, 0.2);
}

.action {
    font-size: calc(0.7em + .3vw);
    width: 12.5%;
    display: flex;
    justify-content: center;
    @include lg-screen {
        margin-left: .5rem;
    }
    & button {
        height: calc(1.8em + 0.5vw);
        width: calc(1.8em + 0.5vw);
        min-width: 1.5rem;
        text-align: center;
        border-radius: 0.5rem;
        cursor: pointer;
        margin: 0 calc(0.1em + .2vw);
        border: none;
        font-size: calc(0.9em + .1vw);
        background: #333;
        transition: background 300ms, color 200ms;
    }
    & .delete {
        color: crimson;
        @include lg-screen {
            display: none;
        }
        &:hover{
            background: crimson;
            color: whitesmoke;
        }
    }

    & .edit {
        color: DodgerBlue;
        @include lg-screen {
            display: none;
        }
        &:hover {
            background: DodgerBlue;
            color: whitesmoke;
        }
    }

    & .moreInfo{
        display: none;
        color: BlueViolet;
        &:hover {
            background: BlueViolet;
            color: whitesmoke;
        }
        @include lg-screen{
            display: block;
        }
    }
}

.action-mobile {
    @extend .action;
    .edit, .delete {
        display: block;
    }
}

.active {
    border-right: 4px solid whitesmoke;
    color: whitesmoke !important;
}

.mobile-nav{
    display: none;
    @include sm-screen{
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        & ul {
            display: flex;
            list-style: none;
            justify-content: space-around;
            background: #161616;
            & a {
                text-decoration: none;
                flex-basis: 25%;
                text-align: center;
                font-size: 0.8rem;
                transition: 200ms ease-in;
                &:hover {
                    background: rgba(220, 20, 60, .2);
                    & li {
                        color: crimson !important;
                        border-color: crimson !important;
                    }
                }
                & li {
                    transition: 200ms ease-in;
                    color: #777;
                    border-top: 3px solid transparent;
                    padding: .6rem;
                }
            }
        }
    }
}

.mobile-status{
    padding: .1rem .4rem;
    border-radius: 1rem;
}

.mobile-active {
    border-color: hsl(0, 0%, 96%) !important;
    color: whitesmoke !important;
}