.hero-img {
    height: 40vh;
    position: relative;
    width: 100vw;
    user-select: none;

    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.4;
        border-bottom-left-radius: calc(1em + 7vw);
        border-bottom-right-radius: calc(1em + 7vw);
    }

    & h1 {
        font-family: 'Roboto';
        text-transform: uppercase;
        font-size: calc(2em + 5vw);
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: whitesmoke;
        -webkit-text-fill-color: transparent;
        position: absolute;
        bottom: 7%;
        left: 7%;
    }
}

.contact {
    width: 80%;
    margin: 6rem auto;
    display: flex;
    @include lg-screen{
        flex-direction: column;
    }
    @include sm-screen {
        width: 100%;
    }

    & h1 {
        color: whitesmoke;
        text-align: center;
        font-weight: lighter;
        margin-bottom: 1rem;
    }

    & aside {
        width: 45%;
        height: calc(21em + 10vw);
        margin: 1rem;
        @include lg-screen{
            width: 100%;
            margin: 0;
        }
    }

    & .contact-form{
        width: 45%;
        margin: 1rem auto;
        @include lg-screen{
            margin-top: 3rem;
            width: 100%;
        }
        @include sm-screen {
            width: 85%;
        }

        @include formControl;
        
        & .login_btn {
            background: transparent;
            border: 2px solid whitesmoke;
            color: whitesmoke;
            width: 50%;
            padding: 0.6rem;
            font-size: 1rem;
            cursor: pointer;
            font-family: 'Work Sans';
            margin-top: 1rem;
            transition: 300ms ease-out;
            @include xs-screen {
                width: 100%;
            }
            &:hover{
                background: whitesmoke;
                color: #222;
            }
        }
    }
}