.container {
    width: 75%;
    margin: 2rem auto;
    @include lg-screen {
        width: 70%;
    }
    @include sm-screen {
        width: 80%;
    }

    & .intro{
        margin: calc(3.5em + 5vw) 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include lg-screen {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-image {
            position: relative;
            object-fit: cover;
            margin: 0 1.5rem;
            width: calc(10em + 30vw);
            @include lg-screen {
                width: 100%;
                margin-bottom: 2rem;
            }
            & img {
                width: 100%;
                filter: grayscale(0%);
                transition: all .5s ease-in-out;
                &:hover {
                    filter: grayscale(70%);
                    transition: .5s ease-in-out;
                }
            }
        }


        &-content {
            margin: 0 1.5rem;
            width: 100%;
            color: whitesmoke;
            font-family: "Work Sans";

            &__head{
                position: relative;
                color: crimson;
                text-transform: uppercase;
                font-size: 2rem;
                margin-left: 5.5rem;

                &::after{
                    display: block;
                    position: absolute;
                    content: '';
                    top: 1.2rem;
                    left: -5.5rem;
                    height: 1px;
                    width: calc(2em + .8vw);
                    background: crimson;
                }
            }

            &__subhead{
                margin: 1rem 0;
                font-size: calc(1.6em + .5vw);
            }
        }
    }
}

section .icons {
    width: 80%;
    margin: 0 auto;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;

    &-head {
        color: crimson;
        text-transform: uppercase;
        text-align: center;
        font-size: 2rem;
    }

    &-figure{
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        & .card {
            user-select: none;
            margin: 0.5rem;
            padding: 1.5rem;
            width: 16rem;
            text-align: center;
            border-radius: 1rem;
            transition: background .3s, transform .3s;
            &:hover {
                transform: translateY(-0.8rem);
                background: whitesmoke;
                box-shadow: 0 0 10px #000;
                & figure { background: crimson;
                    box-shadow: 0 0 5px #333; }
                & h2 { color: #111; }
                & p { color: #333; }
            }

            & figure{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0 auto;
                background: whitesmoke;
                height: 5rem;
                width: 5rem;
                border-radius: 50%;
                & img {
                    height: 3rem;
                    object-fit: contain;
                }
            }

            & h2{
                color: whitesmoke;
                margin: 1rem 0;
            }

            & p {
                color: gray;
            }
        }
    }
}

.gallery-head {
    text-transform: uppercase;
    color: crimson;
    text-align: center;
    margin: 4rem 0;
    font-size: 2rem;
}

.trainers {
    width: 75%;
    margin: 2rem auto;
    color: whitesmoke;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    justify-content: space-evenly;

    &-card {
        margin: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        
        & img {
            height: 18rem;
            width: 16rem;
            object-fit: cover;
            object-position: center;
            margin-bottom: .5rem;
        }

        & p {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        &__social a i {
            color: crimson;
            margin: 0.6rem;
            text-decoration: none;
        }
    }
}

#gallery {
    width: 75%;
    margin: 2rem auto;
    @include md-screen {
        width: 100%;
        margin: 0;
    }
}