.login-form {
    width: 30rem;
    margin: 1rem auto;
    @include xs-screen {
        width: 85%;
    }

    @include formControl;
    
    @include btn;
}

.center {
    display: flex;
    justify-content: center;

    & .error {
        background: transparent;
        border: 1px solid crimson;
        color: crimson;
        padding: 0.7rem 2rem;
        text-align: center;
        min-width: 18rem;

    }
}
