.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 95%;
    margin: 2rem auto 4rem auto;
    @include lg-screen{
        margin-top: 1rem
    }
    color: whitesmoke;
    font-size: calc(0.65em + .2vw);

    & span {
        user-select: none;
        margin: 0.35rem;
        color: whitesmoke;
        transition: 200ms ease-in;
        &:hover:not(.current) {
            cursor: pointer;
            background: whitesmoke;
            color: #222;
        }
    }

    & .num {
        background: #111;
        border-radius: 50%;
        padding: calc(0.3em + .2vw) calc(0.7em + .2vw);
    }

    & .current {
        background: crimson;
    }

    & .btn { 
        background: #444;
        padding: calc(0.4em + .2vw);
        border-radius: 0.4rem;
    }
}
.show {
    font-size: 0.8rem;
    margin: .5rem .5rem 0;
    color: #666;
    user-select: none;
}