.pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 95%;
    margin: 0 auto;
    margin-top: 3.5rem;
    color: whitesmoke;
    & span {
        user-select: none;
        margin: 0.5rem;
        color: whitesmoke;
        transition: 200ms ease-in;
        &:hover:not(.current) {
            cursor: pointer;
            background: whitesmoke;
            color: #222;
        }
    }

    & .num {
        background: #111;
        border-radius: 50%;
        padding: .5rem .8rem;
    }

    & .current {
        background: crimson;
    }

    & .btn {
        background: #444;
        padding: .5rem;
        border-radius: 0.5rem;
    }

    & .show {
        color: #555;
        font-size: 1.1rem;
        user-select: none;
    }
}